user: admin
passwd: admin
sharehost: localhost 
shareport: 443 
repohost: localhost 
repoport: 443 
https: true
loginurl: /share
browser: firefox
photopath: images
cmisurl: /alfresco/api/-default-/public/cmis/versions/1.1/browser
cmisatom: /alfresco/cmisatom
ftpport: 2021
imap_host: localhost
imap_port: 8143
